.nav {
            background-color: #333;
            overflow: hidden;
            border-bottom: 2px solid #00c2b2;
            border-radius: 30px;
            justify-content: space-evenly;
            padding: auto;
            <style>
}